html, body {
  height: 100%;
  background-color: #eee;
  overflow: hidden;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1em;
}

.textBox {
  z-index: 1000;
  position: absolute;
  text-align: center;
  width: 100%;
    margin-top: 4em;
}

h1, p { background: rgba(10,10,10,0.75); padding: 0.5em; margin: 0 auto; }
h1 { font-size: 2em; color: #eee; margin-bottom: 0.25em; }
p { color: #999; }
a { text-decoration: none; border-bottom: 2px dotted #63b9d4; color: #eee; line-height: 150%; }

.floaters {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #eee;
  overflow: hidden;
  opacity: 0.25;
  z-index: 0;
}